.dropdownNotMatchSelectWidth {
  :global {
    .MuiPaper-root {
      position: absolute;
      z-index: 1;
    }
  }
}

.labelTextContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
