.selectWrap {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.selectFullWidth {
  width: 100%;
}

:global {
  div.MuiInputBase-root.Mui-disabled,
  .MuiInputBase-input.Mui-disabled {
    cursor: not-allowed;
  }
  .MuiAutocomplete-root.MuiAutocomplete-hasClearIcon
    .MuiOutlinedInput-root.MuiInputBase-root,
  .MuiAutocomplete-root.MuiAutocomplete-hasPopupIcon
    .MuiOutlinedInput-root.MuiInputBase-root {
    padding-right: 34px;
  }

  .MuiAutocomplete-listbox li.MuiAutocomplete-option {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .MuiAutocomplete-option:hover {
    background-color: rgba(25, 118, 210, 0.08);
  }
}
